{% extends '../base.html' %}
{% load static  %}
{% block title %}
Songs
{% endblock title %}
{% block inner_content %}
    <div class="player">
        <div class="wrapper">
            <div class="details">
                <div class="now-playing">{{song.song_name}}</div>
                <div class="track-art" style="background: url('{% get_media_prefix %}{{song.album.image}}')">
                </div>
                <div class="track-name">{{song.album.album_name}}</div>
                <div class="track-artist">{{song.album.singer}}</div>
            </div>
            <script>
                let curr_track = document.createElement('audio');
                console.log('hellow there')
                curr_track.src='{% get_media_prefix %}{{song.music_file}}';
                curr_track.allow = "autoplay";
                {% comment %} updateTimer = setInterval(setUpdate, 1000);
                clearInterval(updateTimer); {% endcomment %}
                

            </script>
            <div class="slider_container">
                <div class="current-time">00:00</div>
                <input type="range" min="1" max="100" value="0" class="seek_slider" onchange="seekTo()">
                <div class="total-duration">{{song.duration}}</div>
            </div>

            <div class="slider_container">
                <i class="fa fa-volume-down"></i>
                <input type="range" min="1" max="100" value="99" class="volume_slider" onchange="setVolume()">
                <i class="fa fa-volume-up"></i>
            </div>

            <div class="buttons">
                <div class="random-track" onclick="randomTrack()">
                    <i class="fa fa-random fa-2x" title="random"></i>
                </div>
                <div class="prev-track" onclick="prevTrack()">
                    <i class="fa fa-step-backward fa-2x"></i>
                </div>
                <div class="playpause-track" onclick="curr_track.play()">
                    <i class="fa fa-play-circle fa-5x"></i>
                </div>
                <div class="next-track" onclick="nextTrack()">
                    <i class="fa fa-step-forward fa-2x"></i>
                </div>
                <div class="repeat-track" onclick="repeatTrack()">
                    <i class="fa fa-repeat fa-2x" title="repeat"></i>
                </div>
            </div>

            <div id="wave">
                <span class="stroke"></span>
                <span class="stroke"></span>
                <span class="stroke"></span>
                <span class="stroke"></span>
                <span class="stroke"></span>
                <span class="stroke"></span>
                <span class="stroke"></span>
            </div>  
        </div>
    </div>
    <script>

        let ply = curr_track.play();
        if (ply !== undefined) {
            ply.then(_ => {
                console.log("i am playing")
            }).catch(error => {
              console.log('sorry'+error)
            });
          }
    </script>
    {% endblock inner_content %}